*{
    margin: 0;
    padding: 0;
}
header{
    background-color:#8DBADE;
   height: 180px;
   position: relative;
   align-items:center ; 
   display: flex;
   font-family: Arial, Helvetica, sans-serif;
}

#logo-box{
       font-size: 30px;
     position: relative;
     color: #B89428;
     display: flex;
     flex-direction: row;
     align-items: center;
     gap: 40px;
     padding: 40px;
}
#logo{
    height: 150px;
  position: relative;
}
#patra{
    width: 100vw;
    height: 700px;
  position: relative;
}
#search-bar{
    display: flex;
    align-self: center;
    justify-self: center;
    background-color: #A7CFFB;
    width: 770px;
    height: 100px;
    border-radius: 10px;
    position: relative;
    top: 250px;
    opacity: 0.8;
}
.keuze-blocks{
    height: 80px;
    width: 160px;
    color: white;
}
.inleiding{
    width: 100vw;
    height: 400px;
    background-image: url(../img/patra.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}


#logo2{
    height: 50px;
    position: relative;
    top: 25px;
    left: -575px;

}

#logo3{
    height: 60px;
    position: relative;
    top: 22px;
    left: 50px;
}

p {
    position: relative;
    top: 20px;
    left: 20px;
    height: 25px;
    width: 165px;
    padding: 1.2em;
    background-color: white;
}


.best1 {
    font-size: 14px;
    position: relative;
    left: 20px
}
.best2 {
    font-size: 14px;
    position: relative;
    left: 50px;
}
.best3 {
    font-size: 14px;
    position: relative;
    left: 80px
}


.welkom{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    position: relative;
    top: 90px;
    display: flex;
    justify-content: center;
    left: -190px;
}


.beschrijving {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #333;
    line-height: 1.6;
    position: relative;
    top: 120px;
    left: 15px;
}

.knop{
    font-family: Arial, sans-serif;
    background-color: #498DC8;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    position: relative;
    top: 200px;
    left: 620px;
    font-size: 50px;
}

#logo4{
    width: 100vw;
    height: 700px;
    position: relative;
    top:  300px; 
    left: 0 px;
}
.review-box{
    display: flex;
    margin-top: 500px;
    margin-bottom: 50px;
    background-color: #A7CFFB;
    width: 100vw;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

}
#review{
    border-radius: 20px;
    height: 35px;
    width: 400px;
}
.verstuur-knop {
    background-color: #B89428;
    color: white;
    border: none;
    padding: 10px 20px; 
    cursor: pointer;
    border-radius: 20px;
}
.top-review-box {
    display: flex;
    flex-direction: row;
    width: 100vw;
    overflow-x: auto;
    gap: 100px;
    justify-content: center;
}

.top-reviews {
    display: flex;
    width: 350px;
    height: 100px;
    border: 1px solid #B89428;
    margin-bottom: 100px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.top-reviews h3 {
    font-size: 14px;
    color: #333;
    margin: 0;
}


footer{
    background-color:  #A7CFFB;
    height: 400px;
}