*{
    margin: 0;
    padding: 0;
    max-width: 100vw;
    
}
section{
    margin: 0;
    padding: 0;
    max-width: 100vw;
}

header{
    background-color:#8DBADE;
   height: 200px;
   position: relative;
   align-items:center ; 
   display: flex;
   font-family: Arial, Helvetica, sans-serif;
}

#logo-box{
       font-size: 30px;
     position: relative;
     color: #B89428;
     display: flex;
     flex-direction: row;
     align-items: center;
     gap: 40px;
     padding: 40px;
}
#logo{
    height: 150px;
  position: relative;
}
#patra{
    width: 100vw;
    height: 700px;
  position: static;
}
  
  
.keuze-blocks{
    height: 80px;
    width: 160px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.keuze-blocks p {
    margin-bottom: 10px;
}
  
.keuze-blocks input[type="datetime-local"] {
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}
  
.inleiding{
    height: 400px;
    background-image: url(../img/patra.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}
  
#vertrek-tijd{
    width: 170px;
    display: flex;
    align-self: center;
}
#aankomst-tijd{
    width: 170px;
    display: flex;
    align-self: center;
}
#search-bar p{
    display: flex;
    align-self: center;
    top: 0px;
    width:fit-content;
}
.search-button {
    position: relative;
    left: 40px;
    width: 120px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: none;
}
#search-bar form{
    display: flex;
    align-self: center;
    justify-self: center;
    background-color: #A7CFFB;
    width: 1290px;
    height: 100px;
    border-radius: 10px;
    position: relative;
    top: 250px;
    opacity: 0.8;
    gap: 25px;
}
#vertrek-land{
    width: 170px;
    display: flex;
    align-self: center;
    height: 35px;
}
#aankomst-land{
    width: 170px;
    display: flex;
    align-self: center;
    height: 35px;
}

#logo2{
    height: 50px;
    position: relative;
    top: 25px;
    left: -575px;

}

#zoek-img{
    height: 60px;
    position: relative;
    top: 22px;
    left: -20px;
}

p {
    position: relative;
    top: 20px;
    left: 20px;
    height: 25px;
    width: 165px;
}


.best1 {
    font-size: 14px;
    position: relative;
    left: 20px
}
.best2 {
    font-size: 14px;
    position: relative;
    left: 50px;
}
.best3 {
    font-size: 14px;
    position: relative;
    left: 80px
}
.home-link{
    position: relative;
    top: -100px;
    margin-bottom: 300px;
    display:flex;
    align-self: center;
    justify-self: center;
    text-decoration: none;
}
.welkom{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    position: relative;
    top: 90px;
    left: -525px;
    padding: 50px;
    margin-bottom: 50px;
    
}
.welkom-trending{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    position: relative;
    top: 90px;
    left: -525px;
    padding: 50px;
    margin-bottom: 150px;
    
}

    
.beschrijving {
    display: flex;
    align-self: center;
    width: 90vw;
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #333;
    line-height: 1.6;
    position: relative;
    top: 120px;
    left: 50px;
    margin-bottom: 20px;
}
.home-login-button{ 
    font-family: Arial, sans-serif;
    background-color: #498DC8;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    position: relative;
    top: 200px;
    left: 450px;
    font-size: 50px;
}
.home-trending-button{
    font-family: Arial, sans-serif;
    background-color: #498DC8;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    position: relative;
    top: 200px;
    left: 450px;
    font-size: 50px;
}
.trending-button{
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: #CBAB38;
}

#logo4{
    width: 100vw;
    height: 700px;
    position: relative;
    top:  300px; 
    left: 0 px;
}
.review-box{
    display: flex;
    margin-top: 500px;
    margin-bottom: 50px;
    background-color: #A7CFFB;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

}
#review{
    border-radius: 20px;
    height: 35px;
    width: 400px;
}
.verstuur-knop {
    background-color: #B89428;
    color: white;
    border: none;
    padding: 10px 20px; 
    cursor: pointer;
    border-radius: 20px;
}
.top-review-box {
    display: flex;
    flex-direction: row;
    width: 100vw;
    overflow-x: auto;
    gap: 100px;
    justify-content: center;
}

.top-reviews {
    display: flex;
    width: 350px;
    height: 100px;
    border: 1px solid #B89428;
    margin-bottom: 100px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.top-reviews h3 {
    font-size: 14px;
    color: #333;
    margin: 0;
}


footer{
    background-color:  #A7CFFB;
    height: 500px;
}
#apple{ 
    height: 100px;
    width: 100px;
}
#klarna{
    height: 100px;
    width: 100px;
}
#paypal{
    height: 100px;
    width: 100px;
}
#ideal {
    height: 70px;
    width: 100px;
    position: relative;
    top: 20px;
}
.contact-instagram{
    height: 50px;
    width: 50px;
}
.contact-facebook{
    height: 80px;
    width: 80px;
}
.contact-twitter{
    height: 40px;
    width: 80px;
}
.column-footer{
    display: flex;
    flex-direction: column;
    position: relative;
    left: -250px;
    gap: 20px;
}
.row-footer{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 100px;
    left: 50px;
    width: 100vw;
}
.button-container {
    font-size: 25px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around
}

.text-button {
    background: none;
    border: none;
    color: inherit; 
    font-size: inherit;
    cursor: pointer; 
    padding: 0;
    margin: 0;
}

.text-button:hover {
    text-decoration: underline;
}
.contact-row{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.contact-row-facebook{
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: relative;
    left: -15px;
}
.contact-row-twitter{
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: relative;
    left: -15px;
}
.login-button {
    border: none;
    background: none;
    padding: 0;
    display: inline-block;
    position: relative;
    left: 700px;
    top: 20px;
}

.login-button img {
    display: block;
    max-width: 30%;
    height: auto;
    position: relative;
    left: -400px;
}
h1 {
    text-align: center;
    margin-top: 30px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px;
}

.bestemming {
    width: 45%;
    margin-bottom: 80px;
    position: relative;
}

.bestemming img {
    width: 100%;
    display: block;
    border-radius: 10px;
}

.trend-knop {
    position: absolute;
    bottom: 10px;
    left: 50%;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}s

.trend-knop:hover {
    background-color: #0056b3;
}


  
  
  .signup-box {
    width: 360px;
    height: 620px;
    margin: auto;
    background-color: white;
    border-radius: 3px;
  }
  
  .login-box {
    width: 360px;
    height: 280px;
    margin: auto;
    border-radius: 3px;
    background-color: white;
  }
  
  h1 {
    text-align: center;
    padding-top: 15px;
  }
  
  h4 {
    text-align: center;
  }
  
  form {
    width: 300px;
    margin-left: 20px;
  }
  
  form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
  }
  
  form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
  }
  input[type="button"] {
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #498DC8;
    color: white;
    font-size: 18px;
  }
  p {
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
  }
  .para-2 {
    text-align: center;
    color: black;
    font-size: 15px;
    margin-top: -10px;
    position: relative;
    left: 678px;
    top: -140px;

  }
  .para-2 a {
    color:#498DC8;
  }

  .search-container {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 5px;
    width: 300px;
    position: relative;
    top: 24px;
    left: 100px;
}

.search-input {
    border: none;
    border-radius: 25px 0 0 25px;
    padding: 10px;
    outline: none;
    flex: 1;
}

.search-input::placeholder {
    color: #aaa;
}

.search-button {
    background-color: #007bff;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    position: relative;
    left: 3px;
    cursor: pointer;
    transition: background-color 0.3s;

}

.search-button:hover {
    background-color: #0056b3;
}